{% extends 'base.html.twig' %}

{% block title %}Modifier le type de travaux{% endblock %}

{% block body %}
    <h1>Modifier le type de travaux</h1>
    {{ form_start(form) }}
    {{ form_label(form.title, 'Type de charges') }}
    {{ form_widget(form.title) }}
    {{ form_label(form.budget, 'Budget') }}
    {{ form_widget(form.budget) }}
    <input class="hidden" type="submit" id="worktype--submit-btn">
    {{ form_end(form) }}
    <div class="d-flex justify-content-between align-items-start">
        <label class="btn btn-primary" for="worktype--submit-btn">Enregistrer</label>
        <form method="post" action="{{ path('work_type_delete', {'id': work_type.id}) }}" onsubmit="return confirm('Est-ce que vous voulez supprimer ce type de charges ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ work_type.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>

    </div>
{% endblock %}
