{% extends 'base.html.twig' %}

{% block title %}La liste de types de charges{% endblock %}

{% block body %}
    <h1 class="h1 text-center">La liste de types de charges</h1>
    <div class="d-flex justify-content-end">
        <a href="{{ path('work_type_new') }}" class="btn btn-primary mb-5">Ajouter un type de travaux</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Budget</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_type in work_types %}
            <tr>
                <td>{{ work_type.title }}</td>
                <td>{{ work_type.budgetEuro }},{{ "%02d"|format(work_type.budgetCent) }}€</td>
                <td>
                    <a href="{{ path('work_type_edit', {'id': work_type.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Ici vous pouvez définir les types de travaux et les budgets associés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
