{% extends 'base.html.twig' %}

{% block title %}La liste de types de traveaux{% endblock %}

{% block body %}
    <h1>La liste de types de traveaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Budget</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_type in work_types %}
            <tr>
                <td>{{ work_type.title }}</td>
                <td>{{ work_type.budgetEuro }},{{ "%02d"|format(work_type.budgetCent) }}€</td>
                <td>
                    <a href="{{ path('work_type_edit', {'id': work_type.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('work_type_new') }}">Create new</a>
{% endblock %}
