{% extends 'base.html.twig' %}

{% block title %}Modifier une facture{% endblock %}

{% block body %}

    <h1>Modifier une facture</h1>
    {{ form_start(form) }}
    {{ form_label(form.description, 'Description de la facture :') }}
    {{ form_widget(form.description) }}
    {{ form_label(form.status, 'Status de la facture :') }}
    {{ form_widget(form.status) }}
    {{ form_label(form.priceEuro, 'Prix en Euros :') }}
    {{ form_widget(form.priceEuro) }}
    {{ form_label(form.priceCent, 'Prix en centimes :') }}
    {{ form_widget(form.priceCent) }}
    {{ form_label(form.company, 'L\'ntreprise executante :') }}
    {{ form_widget(form.company) }}
    <input class="hidden" type="submit" id="company--submit-btn">
    {{ form_end(form) }}
    <div class="d-flex justify-content-between align-items-start">
        <label class="btn btn-primary" for="company--submit-btn">Enregistrer</label>
    </form>
    </div>
{% endblock %}
