<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-light bg-light">
                <a id="home-page--link" href="{{ path('home') }}" class="btn btn-light">Aperçu général</a>
                <a href="{{ path('bill_new') }}" class="btn btn-light">Nouvelle facture</a>
                <a href="{{ path('bill_index') }}" class="btn btn-light">Liste des factures</a>
                <a href="{{ path('company_index') }}" class="btn btn-light">Menu des entreprises</a>
                <a href="{{ path('work_type_index') }}" class="btn btn-light">Menu des types de travaux</a>
            </nav>
            {% block body %}{% endblock %}
        </div>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
