{% extends 'base.html.twig' %}

{% block title %}Aperçu général{% endblock %}

{% block body %}
    <h1 class="h1 text-center mb-5">Aperçu général</h1>
    <div class="container--content">
        <div class="container---content-per-worktype">
        <h2 class="h2 text-center">Comptes par type de travaux</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="lead">Type de travaux</th>
                    <th class="lead">Dépenses prévisionnelles</th>
                    <th class="lead">Dépenses facturées</th>
                    <th class="lead">Budget total</th>
                </tr>
            </thead>
            <tbody>
            {% for workType in workTypes %}
                <tr>
                    <td class="lead">{{ workType.title }}</td>
                    <td>{{ workType.provisionalEuroSum }},{{ "%02d"|format(workType.provisionalCentSum) }}€</td>
                    <td>{{ workType.spentEuroSum }},{{ "%02d"|format(workType.spentCentSum) }}€</td>
                    <td>{{ workType.budgetEuro }},{{ "%02d"|format(workType.budgetCent) }}€</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="container--content-per-company">
        <h2 class="h2 text-center">Comptes par entreprise</h2>
            <table class="table">
            <thead>
                <tr>
                    <th class="lead">Nom de l'entreprise</th>
                    <th class="lead">Type de travaux</th>
                    <th class="lead">Dépenses prévisionnelles</th>
                    <th class="lead">Dépenses facturées</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.title }}</td>
                    <td>{{ company.workType.title }}</td>
                    <td>{{ company.provisionalEuroSum }},{{ "%02d"|format(company.provisionalCentSum) }}€</td>
                    <td>{{ company.spentEuroSum }},{{ "%02d"|format(company.spentCentSum) }}€</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <div class="container--content-per-company">
        <h2 class="h2 text-center">Liste des factures</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="lead">Description</th>
                    <th class="lead">Entreprise</th>
                    <th class="lead">Type de travaux</th>
                    <th class="lead">Prix</th>
                    <th class="lead">Status</th>
                    <th class="lead">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in bills %}
                <tr>
                    <td>{{ bill.description }}</td>
                    <td>{{ bill.company }}</td>
                    <td>{{ bill.company.workType }}</td>
                    <td>{{ bill.priceEuro }},{{ "%02d"|format(bill.priceCent) }}€</td>
                    <td>{{ bill.status }}</td>
                    <td>
                        <a href="{{ path('bill_edit', {'id': bill.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
