{% extends 'base.html.twig' %}

{% block title %}Aperçu général{% endblock %}

{% block body %}
    <h1>Aperçu général</h1>
    <div class="container--content">
        <div class="container---content-per-worktype">
        <table class="table">
            <thead>
                <tr>
                    <th>Type de travaux</th>
                    <th>Budget restant</th>
                    <th>Budget prévisionnel</th>
                    <th>Budget total</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="container--content-per-company">
            <table class="table">
            <thead>
                <tr>
                    <th>Nom de l'entreprise</th>
                    <th>Dépenses prévisionnelles</th>
                    <th>Dépenses facturées</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.title }}</td>
                    <td>{{ company.provisionalEuroSum }},{{ "%02d"|format(company.provisionalCentSum) }}€</td>
                    <td>{{ company.spentEuroSum }},{{ "%02d"|format(company.spentCentSum) }}€</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="container--content-total">
            <table class="table">
            <thead>
                <tr>
                    <th>Type de travaux</th>
                    <th>Budget restant</th>
                    <th>Budget prévisionnel</th>
                    <th>Budget total</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in bills %}
                <tr>
                    <td>{{ bill.id }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>PriceEuro</th>
                <th>PriceCent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bill in bills %}
            <tr>
                <td>{{ bill.id }}</td>
                <td>{{ bill.description }}</td>
                <td>{{ bill.priceEuro }}</td>
                <td>{{ bill.priceCent }}</td>
                <td>
                    <a href="{{ path('bill_show', {'id': bill.id}) }}">show</a>
                    <a href="{{ path('bill_edit', {'id': bill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bill_new') }}">Create new</a>
{% endblock %}
